body {
    background: linear-gradient(135deg, #ffe6e6, #ffd6d6, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Base{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid rgb(241, 213, 213);
    border-radius: 10px;
    box-shadow: 5px 7px 8px rgba(255, 144, 144, 0.6);
    gap: 70px;
    padding: 100px;
    margin: 120px;
    background-color: rgb(253, 243, 243);
    position: relative;
    color: rgb(121, 56, 44);
    transform: scale(0.98);
}

.Base:hover{
    transform: scale(1.02);
    transition: 0.5s;
    border: 2px solid rgb(245, 194, 194);
    box-shadow: 5px 7px 8px rgba(255, 120, 120, 0.6);
    background-color: rgb(255, 237, 237);
    color: rgb(221, 108, 88);
}

.Boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;  
}

button{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(255, 207, 207);
    color: rgb(95, 27, 15);
    width: 65px;
    height: 55px;
}

button:hover{
    background-color: rgb(255, 170, 170);
    color: rgb(150, 20, 5);
    box-shadow: 3px 4px 6px rgba(255, 100, 100, 0.6);
    transform: scale(1.1);
    transition: 0.3s;    
}



.Rechazar {
    transition: all 0.25s ease-in-out;    
}



.Titulo {
    animation: latido 1.5s infinite ease-in-out;
}

@keyframes latido {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); color: rgb(200, 50, 50); }
}