body {
    background: linear-gradient(135deg, #ffe6e6, #ffd6d6, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid rgb(241, 213, 213);
    border-radius: 10px;
    box-shadow: 5px 7px 8px rgba(255, 144, 144, 0.6);
    gap: 40px;
    padding: 60px;
    margin: 120px;
    background-color: rgb(253, 243, 243);
    color: rgb(121, 56, 44);
    transform: scale(0.98);
    transition: all 0.5s ease;
}

.Base:hover {
    transform: scale(1.02);
    border: 2px solid rgb(245, 194, 194);
    box-shadow: 5px 7px 8px rgba(255, 120, 120, 0.6);
    background-color: rgb(255, 237, 237);
    color: rgb(221, 108, 88);
}

.Despedir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;  
}

button {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(255, 207, 207);
    color: rgb(95, 27, 15);
    width: 65px;
    height: 55px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(255, 170, 170);
    color: rgb(150, 20, 5);
    box-shadow: 3px 4px 6px rgba(255, 100, 100, 0.6);
    transform: scale(1.1);
}

#pantallaCierre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(130, 60, 60);
    font-family: 'Times New Roman', serif;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
}

#pantallaCierre.mostrar {
    opacity: 1;
    pointer-events: all;
}

.cerrando {
    animation: parpadeo 1.5s infinite alternate ease-in-out;
}

@keyframes parpadeo {
    0% { opacity: 0.4; transform: scale(1); }
    100% { opacity: 1; transform: scale(1.1); }
}
